.wrapper {

  background: rgba(31, 58, 147, 1);
  max-width: 1200px;
  max-height: 500px;
  border-radius: 1rem;
  margin: auto;

  .container {

    background-image: url("../img/cover-1@2x.png");
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    background-size: cover;
    max-width: 1200px;
    max-height: 500px;
    border-radius: 1rem;
    filter: opacity(60);

    .wraper-2-up-cection {

      margin-left: 20%;
      margin-top: 100px;
      display: inline-block;
      width: 70%;

      .left-col {

        display: flex;
        flex-direction: column;
        float: left;
        max-width: 50%;
      }

      .right-col {
        background: white;

        float: right;
        max-width: 50%;
      }

    }
  }

  //.container::before{
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  background-color: rgba(0,100,0,.3);
  //  transition: all .3s ease;
  //}
}
