
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: block;


  .heder-menu{
    margin-left: 24px;
    margin-right: 24px;
    position: relative;


  img{
    width: 100%;

    border-radius: 1rem;
    vertical-align: middle;
    border-style: none;

  }
    .on-image{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
          248deg,
          rgba(53, 109, 143, 0.5),
          rgba(24, 59, 86, 0.75));
      border-radius: 1rem;



    }

    .container {

      border-radius: 1rem;
      padding-top: 110px;
      padding-bottom: 48px;
      max-width: 1100px;
      margin-right: min(110px, 20%);
      margin-left: min(110px, 20%);

      .content{
        display: flex;
        height: 400px;

        .left-col{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          color:white;
          button {
            color: white;
            outline: none;
            border: 2px solid white;
            background: transparent;
            border-radius: 6px;
            padding: 10px;
            width: 150px;

          }

          .heder-left-bottom{
            margin-bottom: 80px;
            //margin-top: 50px;
            display: flex;

            ul{
              display: flex;
              font-size: 1rem;
              font-weight: normal;
              line-height: 1.75rem;
              li{
                display: flex;
                margin-right: 1rem;
                img {
                  vertical-align: middle;
                  max-height: 20px;
                }
                span {
                  white-space: nowrap;
                }
              }
            }
          }

        }

        .right-col{
          flex-direction: column;
          min-width: 350px;
          max-width: 350px;
          background: white;
          border-radius: 1rem;
          padding: 20px;
          box-shadow: 0 0  10px rgba(0,0,0,0.5);
          form {
            display: block;

            input{
              border-radius: 6px;
              margin-bottom: 10px;
              padding:10px;
              font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
            }
            .inputWraper {
              width: 100%;
              display: block;
              input {
                box-sizing: border-box;
                width: 100%;
              }
            }
            button {
              padding: 15px;
              width: 100%;
              color: white;
              outline: none;
              border: 2px solid white;
              background: blue;
              border-radius: 6px;

            }
            .selectors {
              display: flex;
              width: 100%;


              .select1{
                border-radius: 6px;
                flex-grow: 2;
                margin-right: 1rem;
                padding: 10px;

              }
              .select2{
                border-radius: 6px;
                padding: 10px;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}
