.navbar{
  margin: 0 auto;
  max-width: 1200px;
  background: white;
  padding: 1em;

  .logo{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span{
      color: blue;
    }
  }

  .container{
    display: flex;
    //place-content: space-between;
    .logo{
      flex-grow: 1;
    }

    nav{
      flex-grow: 1;
      width :100%;
      display: flex;

      .mobile-exit{
        display: none;
      }

      .mobile-cta{
        display: none;
      }


      ul{
        width :100%;
        display: flex;
        place-content: space-between;
        justify-content: space-between;
      }
    }
  }




}



