.navbar {
  margin: 0 auto;
  max-width: 1200px;
  background: white;
  padding: 1em;

  .container {
    display: flex;
    //place-content: space-between;
    .logo-wrap {
      flex-grow: 2;

      .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 35px;

        span {
          color: blue;
        }
      }
    }

    .nav-wrap {
      flex-grow: 1;
      margin-left: 185px;
      nav {
        flex-grow: 1;
        width: 100%;
        display: flex;

        .mobile-exit {
          display: none;
        }

        .mobile-cta {
          display: none;
        }


        ul {
          width: 100%;
          display: flex;
          .ul-wraper{
            width: 100%;
            place-content: space-between;
            justify-content: space-between;
            display: flex;
            padding-top: 11px;
            margin-right: 20px;
          }

          select{
            color: lightslategrey;
            border: 0;
            background: white;
          }
          .get-it-now{
            width: 125px;
            white-space: nowrap;
            padding: 10px;
            border-radius: 6px;
            border: 2px solid blue;
            text-align: center;

            a{
              color: blue;
            }
          }

          a{
            text-decoration: none;
          }
        }

      }
    }
  }

}






