.wrapper2{
  max-width: 1000px;
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;



  .buttonsection{
    display: flex;
    justify-content: space-between;


    .first-colum{
      width: 300px;
    }


    .second-colum{
      width: 300px;
      display: flex;

      .image-icon {
        padding-top: 20px;
        width: 50px;
        height: 30px;
        border: 1px black;

        img {

          width: 25px;
          height: 25px;
        }
      }
    }

    .third-colum{
      display: flex;

      width: 300px;


      img{

        padding-top: 20px;
        width: 25px;
        height: 25px;
      }
    }

  }
}
