.wrapper2{
  padding-top: 40px;
  margin: 100px;
  display: flex;
  flex-direction: column;



  .buttonsection{
    display: flex;


    .second-colum{
      display: flex;
    }

    .third-colum{
      display: flex;
    }

  }
}
