.wrapper4{
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;

  .wrapper4-top{
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    padding-bottom: 50px;
  }

  .wrapper4-meedle{
    display: flex;
    justify-content: space-between;

    .wrapper4-meedle-img{
      width: 360px;
      height: 360px;
      border-radius: 0.5rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    .wrapper4-text{
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .wrapper4-text-buttom{
        display: flex;

        .wrapper4-text-buttom-paly-text{
          display: flex;
          flex-direction: column;

        }
      }
    }
  }
  .wrapper4-buttom{
    padding-top: 30px;
    width: 800px;
    display: flex;
    margin: 0 auto;

    .wrapper4-buttom-image{
      width: 450px;
      height: 360px;
      border-radius: 0.5rem;
      padding-right: 30px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    .wrapper4-buttom-text {

      padding-left: 30px;
      margin: 20px;

      .wrapper4-check-list {
        display: flex;
        justify-content: space-between;

        li {
          display: flex;
        }
      }
    }
  }
}
