.wrapper4{
  display: flex;
  flex-direction: column;

  .wrapper4-top{
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    padding-bottom: 50px;
  }

  .wrapper4-meedle{
    display: flex;

    .wrapper4-meedle-img{
      width: 326px;
      height: 360px;
      border-radius: 0.5rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    .wrapper4-text{

      .wrapper4-text-buttom{
        display: flex;

        .wrapper4-text-buttom-paly-text{
          display: flex;
          flex-direction: column;

        }
      }
    }
  }
  .wrapper4-buttom{
    display: flex;

    .wrapper4-buttom-image{
      width: 326px;
      height: 360px;
      border-radius: 0.5rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .wrapper4-check-list{
      display: flex;

      li{
        display: flex;
      }
    }
  }
}
