<div class="navbar">
  <div class="container">
    <div class="logo-wrap">
      <a class="logo" href="index.html">ehya <span>.</span> </a>
    </div>
    <!--    <div id="mobile-cta" class="mobile-cta"><i class="fas fa-bars"></i></div>-->
    <div class="nav-wrap">
      <nav>
        <div id="mobile-exit" class="mobile-exit"><i class="fas fa-times"></i></div>
        <ul>
          <div class="ul-wraper">
            <li><a href="#">Home</a></li>
            <li><a href="#">Landings</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Help</a></li>
          </div>
          <li class="get-it-now"><a href="#">Get it now</a></li>

        </ul>
      </nav>
    </div>
  </div>
</div>
